@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
   font-family: 'Cormorant', serif;
   background-color: #0b2ca3;
   text-align: left;
   margin: 0;
}

header {
   padding: 1em 0;
}

.hero-bg {
   margin: 0;
}

.hero-bg a {
   font-family: 'Cutive Mono', monospace;
   text-decoration: none; 
   font-weight: bold;
   font-size: 1.2rem;
}

section {
   margin: 0 1em;
}

p {
   color: #ffffff;
   margin: 0 1em;
}

h1 {
   font-family: 'Cutive Mono', monospace;
   font-size: 2.5rem; 
   color: #e7eb15;
   margin: 2em 0 1.2em; 
}

h1 span {
   text-transform: uppercase;
}
