@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=EB+Garamond:wght@700&display=swap');

body {
   font-family: 'Monospace';
   background-color: #0b2ca3;
   text-align: left;
   justify-content: center; 
   margin: 0;
}

header {
   padding: 1em 0;
}

.hero {
   margin: 0;
   display: flex;
   width: 100%;
   height: 100%;
}

.hero a {
   font-family: 'EB Garamond', serif;
   color: #e7eb15;
   text-decoration: none; 
   font-weight: bold;
   font-size: 1.2rem;
}

.about-page {
   margin: 0;
   display: flex;
   width: 100%;
   height: 100%
}

section {
   margin: 0 1em;
}

p {
   color: #ffffff;
   margin: 0 1em;
}

h1 {
   font-family: 'EB Garamond', serif;
   font-size: 2.5rem; 
   color: #e7eb15;
   margin: 2em 0 1.2em; 
}

h1 span {
   text-transform: uppercase;
}
