
/* RESOURCES: I used https://www.youtube.com/watch?v=ZFQkb26UD1Y as a learning resource */

/* referenced https://www.youtube.com/watch?v=yU7jJ3NbPdA when learning about media queries */

/* referenced https://www.youtube.com/watch?v=a_7Z7C_JCyo when learning how to implement a slide show (2:13:40 - 2:50:52)*/
@media (max-width: 650px) {
  .nav-links {
    display: block;
  }
  
  .about-me-text {
    width: 80%;
    margin: 5%;
  }
}

.App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

.App section {
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  padding: 0 0 10% 0;
  opacity: 1;
  animation: fadein 3s;
}

* { /* All elements */
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; /* box-sizing sets how height and width of an element is calculated. border-box means to account for border dimensions. */
  align-items: center; 
}

html, body {
   font-family: monospace, monospace;
   background-color: #f8ffec;
   text-align: left;
   justify-content: center; 
   margin: 0;
   overflow: hidden;
}

.site-logo {
  height: 3vw;
  min-height: 30px;
  align-self: center;
  margin: 2vw;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 10vh; 
}

.nav-links {
  width: 30vw;
}

.nav-links .nav-link { /* navigation links */
  font-family: 'EB Garamond', serif;
  border: .5px solid;
  color: #37a75c;
  text-decoration: none; 
  font-size: 2vw; 
  font-weight: normal;
  padding-inline: 10%;
  padding-block-end: 1%;
  margin: 2% 5%;
  border-radius: 25px;
}

.nav-link:hover {
  background-color: #ffffff;
  color: black;
  border-color: black;
  transition: 0.3s ease-in;  
}

a.nav-text {
  color: #37a75c;
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  padding: 4vh 3vw;
  align-self: center;
  font-size: max(10px, 1.5vw);
  font-weight: normal;
}

.bottom-nav {
  justify-content: flex-end;
}


h1 {
  font-size: 5.5vw;
  line-height: 1;
  font-weight: normal;
  font-family: 'EB Garamond', serif;
}

h2 {
  font-size: max(3vw, 20px); 
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  color: #37a75c;
}

h3 {
  font-size: max(1.5vw, 15px);
  font-family: 'EB Garamond', serif;
  font-weight: lighter;
}

ul h3 {
	display: flex;	
	font-weight: bold;
	color: #f8ffec;
}

p {
   color: #000000;
}

.container { /* will be reused in many sections */
  min-height: 100vh; /* vh or vw represents viewport-percentage length unit; ie if viewport width is 800px, a value of 50vw will be 400px*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
}



#homepage .container {
  justify-content: flex-start;
  align-items: flex-start;
}

.homepage-text {
  width: 80%;
  padding: 5vh 7vw;
}

.homepage-text h3 {
  padding: 10vh 0;
  padding-right: 15vw;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.page-title {
  font-size: 3vw;
  padding: 2% 5%;
}


/* referenced https://www.youtube.com/watch?v=a_7Z7C_JCyo when learning how to implement a slide show (2:13:40 - 2:50:52)*/
/* Slideshow container */
.slideshow-container {
  height: 90%;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 1% 2% 1% 2%;
  justify-content: center;
}

article {
  background-color: #8bcc9a;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  border-radius: 3vw;
  transition: var(--transition);
  transition: 0.6s ease;
  padding: 2% 10%;
  display: block;
  overflow-y: auto;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%); 
}

.project-name{
  padding: 0 3% 3%;
  display: flex;
  color: #f8ffec;
  justify-content: center;
  font-size: max(25px, 2.5vw);
}

.project {
  display: flex;
  height: 80%;
  font-size: max(10px, 1vw);
}

.project .project-description {
  justify-content: center;
  text-align: left;
  font-size: 110%;
  padding-right: 15px;
  width: 70%;
  padding: 2%;
  margin-right: 2%;
  height: 100%;
  display: block;
}

ul {
  height: 100%;
}

li {
  padding-block: 3%;
}

.project .media-container {
  width: 30%;
  height: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px dashed black;
  border-radius: 10px;
  padding: 2%;
}

video {
  height: 100%;
  border-radius: 25px;
}

/* referenced https://www.youtube.com/watch?v=a_7Z7C_JCyo when learning how to implement a slide show (2:13:40 - 2:50:52)
the next and previous buttons, as well as the transition effects are referenced from the tutorial.
*/

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  height: 20%;
  width: 4%;
  top: 40%;
  color: black;
  border: none;
  border-radius: 10%;
  transition: 0.6s ease;
  user-select: none;
  font-size: 100%;
  color: #ffffff;
  background-color: #000000;
  opacity: 50%;
}

/* Position the "next button" to the right */
.next {
  left: 95%;
}

.prev {
  left: 1%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes activeSlide {
  from {opacity: .4} 
  to {opacity: 1}
}
/* end CSS for slideshow */

#about-me {
  scroll-snap-align: start;
}

#about-me section {
  padding: 0;
  margin-bottom: 5vh;
}

.about-me-text {
  align-self: start;
  padding: 1% 10% 5% 10%;
  width: 75%;
}

h3.about-me-text {
  font-size: max(1.5vw, 12px); 
}

h2.about-me-text {
  font-size: max(2vw, 15px); 
}

.bottom {
	scroll-snap-align: center;
	padding: 1%;
	margin-top: 5%;
	text-align: right;
	background: #8bcc9a;
}